

@font-face {
  font-family: 'KaushanScript-Regular';
  src: url("../fonts/KaushanScript-Regular.ttf");
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.ttf");
}

.container-fluid{
    margin: 0;
    padding: 0;
  header{
    height: 80px;
    z-index: 3;
    width: 100%;
    position: absolute;
    .head-block{
      max-width: 1200px;
      margin: 30px auto 0 auto;
      .icon-menu{
        display: none;
      }
      .logo-menu-top{
        .logo{
          float: left;
          margin: 0 20px;
          a{
            color: #fff;
            font-family: 'Montserrat-Bold';
            font-size: 30px;
            &:hover{
              text-decoration: none;
            }
          }
        }
        .icon-close{
          display: none;
        }
        ul{
          float: right;
          li{
            float: left;
            list-style: none;
            padding-right: 40px;
            margin-top: 10px;

            a{
              font-size: 14px;
              font-family: Montserrat-Regular;
              text-transform: uppercase;
              color: #fff;
              padding-bottom: 10px;
              &:hover,&:active,&:focus{
                color: #fce38a;
                text-decoration: none;
                border-bottom: 3px solid #fce38a;
                padding-bottom: 10px;
              }
              .menu-cart-icon{
                width: 20px;
                height: 20px;
                background: url(../images/menu-cart-icon.png) 50% 0 no-repeat ;
                &:hover{
                  background: url(../images/menu-cart-icon-hover.png) 50% 0 no-repeat ;
                  border-bottom: 3px solid #fce38a;
                  height: 31px;
                }
              }
              .menu-search-icon{
                width: 20px;
                height: 20px;
                background: url(../images/menu-search-icon.png) 50% 0 no-repeat ;
                &:hover{
                  background: url(../images/menu-search-icon-hover.png) 50% 0 no-repeat ;
                  border-bottom: 3px solid #fce38a;
                  height: 31px;
                }
              }
            }
            &:last-child{
              padding-right: 20px;
            }
          }

        }
      }
    }
  }
  .top-slideshow-block{
    width: 100%;
    height: 100vh;
    background: url(../images/top-slideshow-bg.jpg) 50% 0 no-repeat ;
    background-size: cover;
    position: relative;
      .awSlider{
        max-width: 1200px;
        margin: 0 auto;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .carousel{
          display:table;
          z-index:2;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          max-width: 1200px;
          .carousel-inner{
            height: 100%;
           .item{
             .item_block{
               height: 100vh;
               display: flex!important;
               justify-content: center;
               flex-direction: column;
               text-align: center;
               color: #fff;
               h1{
                 font-family: 'Montserrat-Bold';
                 font-size: 150px;
                 text-transform: uppercase;
               }
               h2{
                 font-family: 'KaushanScript-Regular';
                 font-size: 72px;
               }
               .top-slideshow_item-line{
                 width: 60px;
                 height: 3px;
                 background-color: #fff;
                 margin: 0 auto 50px auto;
               }
               a{
                 font-family: 'Montserrat-Bold';
                 font-size: 14px;
                 text-transform: uppercase;
                 color: #fff;
                 border: 3px solid #fff;
                 padding: 10px 30px;
                 width: 165px;
                 margin: 0 auto;
                 &:hover{
                   text-decoration: none;
                   border: 3px solid #f38181;
                   color: #f38181;
                 }
               }
             }
           }
          }
          .carousel-indicators{
            bottom: 10px;
            left: 0;
            width: 100%;
            padding-left: 0;
            margin-left: 0;
            li{
              width: 23%;
              text-indent: 0;
              height: 3px;
              opacity: 0.6;
              border: none;
              border-radius: 0;
              background-color: #fff;
            }
            .active{
              opacity: 1;
              .carousel-indicators_li__bg-active1{
                background-color: #f38181;
                width: 25%;
                height: 100%;
                float: left;
                margin-left: 0;
              }
              .carousel-indicators_li__bg-active2{
                @extend .carousel-indicators_li__bg-active1;
                margin-left: 25%;
              }
              .carousel-indicators_li__bg-active3{
                @extend .carousel-indicators_li__bg-active1;
                margin-left: 50%;
              }
              .carousel-indicators_li__bg-active4{
                @extend .carousel-indicators_li__bg-active1;
                margin-left: 75%;
              }
            }
            .carousel-indicators_title{
              margin-top: 10px;
              color: #fff;
              text-transform: uppercase;
              font-family: 'Montserrat-Regular';
              font-size: 18px;
              span{
                font-family: 'Montserrat-Bold';
                font-size: 24px;
              }
            }
            .carousel-indicators_li__bg{
              background-color: #fff;
              width: 100%;
            }
          }
        }
      }
  }
  .about-block{
    padding-bottom: 100px;
    margin-bottom: 100px;
    .about-block-title__h4{
      font-family: 'KaushanScript-Regular';
      font-size: 24px;
      color: #333333;
      text-align: center;
      margin-top: 70px;
    }
    .about-block-title__h3{
      font-family: 'Montserrat-Bold';
      text-transform: uppercase;
      font-size: 30px;
      color: #333333;
      text-align: center;
    }
    .about-block-line{
      width: 60px;
      height: 3px;
      background-color: #f38181;
      margin: 30px auto 50px auto;
    }
    .about-block-title__p{
      font-family: 'Roboto';
      font-size: 15px;
      color: #999999;
      text-align: center;
      max-width: 950px;
      margin: 0 auto 90px auto;
    }
    .about-blocks-wrapper{
      max-width: 1200px;
      margin: 0 auto 100px auto;
      position: relative;
      .about-block-wrapper{
        width: 380px;
        height: 250px;

        position: absolute;
        z-index: 10;
        top: 0;
        left: 15px;
        transition: 0.2s linear;

        &:hover{
          top: -12px;
          left: 3px;
          cursor: pointer;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fce38a+0,f38181+100 */
          background: #fce38a; /* Old browsers */
          background: -moz-linear-gradient(top, #f38181 0%, #fce38a 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #f38181 0%, #fce38a 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #f38181 0%, #fce38a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce38a', endColorstr='#f38181',GradientType=0 ); /* IE6-9 */

          &:before{
            content: "super team";
            text-transform: uppercase;
            font-family: 'Montserrat-Bold';
            color: #fff;
            font-size: 18px;
            width: 100%;
            height: 100%;
            text-align: center;
            top: 39%;
            padding: 30px 0 0 0;
            position: absolute;
            background: url(../images/team-logo.png) 50% 0 no-repeat ;
          }
        }
        .about-block-img{

          margin: 0 auto;
          width: 380px;
          height: 250px;
          opacity: 1;
          -webkit-transition: opacity ease-out 0.2s;
          -moz-transition: opacity ease-out 0.2s;
          -o-transition: opacity ease-out 0.2s;
          transition: opacity ease-out 0.2s;
          cursor: pointer;
          &:hover{

            opacity: 0.1;
            -webkit-transition: opacity ease-out 0.2s;
            -moz-transition: opacity ease-out 0.2s;
            -o-transition: opacity ease-out 0.2s;
            transition: opacity ease-out 0.2s;
            cursor: pointer;
          }
           }
      }
      .about-block-img-bg{
        width: 380px;
        height: 250px;
        background-color: #95e1d3;
        z-index: 8;
        position: absolute;
        overflow: hidden;
      }
    }
  }
  .counts-block{
    background-color: #95e1d3;
    .counts-blocks-wrapper{
      max-width: 1200px;
      .counts-block-wrapper{
        border-right: 1px solid #b5eae0;
        padding: 90px 0;
        &:last-child{
          border: none;
        }
      .circle{
          .spincrement{
            font-family: 'Montserrat-Bold';
            font-size: 72px;
            color: #fff;
          }
      }
      .label{
        font-family: 'Montserrat-Regular';
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        white-space: inherit;
      }
      }
    }
  }
  .services-block{
    max-width: 1200px;
    margin: 0 auto;
    .services-block-title__h4{
      font-family: 'KaushanScript-Regular';
      font-size: 24px;
      color: #333333;
      text-align: center;
      margin-top: 70px;
    }
    .services-block-title__h3{
      font-family: 'Montserrat-Bold';
      text-transform: uppercase;
      font-size: 30px;
      color: #333333;
      text-align: center;
    }
    .services-block-line{
      width: 60px;
      height: 3px;
      background-color: #f38181;
      margin: 30px auto 50px auto;
    }
    .services-block-content{
      padding: 0px 12px;
      .services_row{
        .services_row-block{
          .img-responsive{
            margin-top: 8px;
          }
          .services_h4{
            font-family: 'Montserrat-Regular';
            color: #333333;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
          }
          .services_p{
            font-family: 'Roboto';
            color: #999999;
            font-size: 15px;
          }

        }

      }
      .services_row-block-bottom{
        border-top: 1px solid #e5e5e5;
        padding: 50px 0 50px 0;
      }
      .services_row-block-top{
        padding: 0 0 50px 0;
      }
    }
  }
  }



@media screen and (min-width: 992px) and (max-width: 1220px) {
  .container-fluid{
    .about-block {
    margin-bottom: 60px;
    .about-blocks-wrapper {
      .about-block-wrapper {
        width: 280px ;
        height: 190px ;
        left: 30px;
        &:hover {
          left: 16px;
        }
        .about-block-img {
          width: 280px;
          height: 190px;
        }
      }
      .about-block-img-bg {
        width: 280px;
        height: 190px;
        left: 30px;

      }
    }
  }
}
}
@media  screen  and (min-width: 768px) and (max-width: 991px) {
  .container-fluid{
    .top-slideshow-block{
      .awSlider{
        .carousel{
          .carousel-inner{
            .item{
              .item_block{
                h1{  font-family: 'Montserrat-Bold';
                  font-size: 130px;
                }
              }
            }
          }
        }
      }
    }
    .counts-block {
      .counts-blocks-wrapper {
        width: 100%;
        .counts-block-wrapper {
          padding: 25px 0;

        }
      }
    }
    .about-block {
      margin-bottom: 60px;
      .about-blocks-wrapper {
        .about-block-wrapper {
          width: 220px;
          height: 145px;
          left: 30px;
          &:hover {
            left: 16px;
          }
          .about-block-img {
            width: 220px;
            height: 145px;
          }
        }
        .about-block-img-bg {
          width: 220px;
          height: 145px;
          left: 30px;

        }
      }
    }
}
}

@media screen and (max-width: 767px) {
  .container-fluid{
  .counts-block {
    .counts-blocks-wrapper {
      width: 100%;
      .counts-block-wrapper {
        border-bottom: 1px solid #b5eae0;
        padding: 5px 0;
        width: 60%;
        margin: 0 auto;
        float: none;
        border-right: none;
        &:last-child {
          border: none;
        }
        .circle {
          .spincrement {
            font-size: 40px;
          }
        }
        .label {
          font-size: 10px;
        }
      }
    }
  }
  .about-block {
    margin-bottom: 0;
    padding-bottom: 0;
    .about-blocks-wrapper {
      margin: 0 auto;
      position: relative;
      .about-block-wrapper-center {
        width: 100%;
      }
      .about-block-wrapper {
        position: inherit;
        top: 0;
        left: 0;
        margin: 0px auto 25px auto;
        max-width: 100%;
        max-height: 100%;
        float: none;
        &:hover {
          top: 0;
          left: 0;

        }
        .about-block-img {

          margin: 0 auto;
          max-width: 100%;
          max-height: 100%;
          width: 100%;
          height: auto;

        }
      }
      .about-block-wrapper-left {
        float: none;
      }
      .about-block-wrapper-right {
        float: none;
      }
      .about-block-img-bg {
        display: none;
      }
    }
  }
  .services-block {
    .services-block-content {
      .services_row {
        .services_row-block {
          padding: 10px 0 10px;
          border-bottom: 1px solid #e5e5e5;
          .services_h4 {
            font-family: 'Montserrat-Regular';
            color: #333333;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
          }
          .services_p {
            font-family: 'Roboto';
            color: #999999;
            font-size: 15px;
          }
        }
        .services_row-block-bottom {
          border-top: none;
        }
      }
      .services_row-block-top {
        padding: 0;
      }
      .services_row-block-bottom {
        border-top: none;
        padding: 0;
        .services_row-block-last {
          border: none;
        }
      }
    }
  }
}
}

@media screen and (min-width: 0px) and (max-width: 770px) {
  .container-fluid{
  header {
    .head-block {
      .logo-menu-top {
        .logo {
          a {
            font-size: 30px;
          }
        }
        #menu {
          li {
            padding-right: 20px;
            a {
              font-size: 14px;
            }
            .top-slider-menu__li-ico {
              img {
                margin: 20px auto 0 auto;
              }
            }
          }

        }

      }
    }
  }
  .top-slideshow-block {
    .awSlider {
      .carousel {
        .carousel-inner {
          .item {
            .item_block {
              .item_block-title__h1 {
                font-size: 100px;
              }
              .item_block-title__h2 {
                font-size: 72px;
              }
              .top-slideshow_item-line {
              }
              a {
                font-size: 14px;
              }
            }
          }
        }
        .carousel-indicators {
          li {
          }
          .active {
            .carousel-indicators_li__bg-active1 {
            }
          }
          .carousel-indicators_title {
            font-size: 18px;
            span {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
}

@media screen and (min-width: 0px) and (max-width: 590px) {
  .container-fluid{
  header {

    .head-block {
      .icon-menu {
        display: block ;
        color: #fff;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        padding-bottom: 25px;
        padding-left: 25px;
        padding-top: 14px;
        text-decoration: none;
        text-transform: uppercase;
        right: 30px;
        top: 20px;
        position: absolute;
        z-index: 10;
        img {
          width: 30px;
        }
        .stock-product-block__get-feedback-form {

        }
      }
      .logo-menu-top {
        .logo {
          margin-left: 22px;
        }
        .icon-close {
          display: block ;
          cursor: pointer;
          padding-left: 10px;
          padding-top: 28px;
          padding-bottom: 6px;
          position: absolute;
          right: 25px;
          img {
            width: 40px;
          }

        }
        .menu {
          background-image: url("../images/top-slideshow-bg.jpg");
          background-size: inherit;
          background-repeat: no-repeat;
          left: 100%;
          height: 100%;
          position: fixed;
          width: 100%;
          z-index: 12;
          top: 0;
        }
        ul {
          height: 100vh;
          display: flex !important;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          float: none ;
          li {
            float: none ;
            text-align: center;
            font-size: 26px;
            list-style: none;
            line-height: 60px;
            border-bottom: 1px solid #fff;
            width: 50%;
            margin: 0 auto;
            margin-top: 10px;
            height: 100px;
            a {
              &:hover, &:active, &:focus {
                border-bottom: none;
              }
            }
            &:last-child {
              border-bottom: none;
            }
            &:after {
              display: none ;
            }
            .menu-cart-icon {
              margin: 25px auto 0 auto;
              &:hover, &:active, &:focus {
                border-bottom: none ;
              }
            }
            .menu-search-icon {
              margin: 25px auto 0 auto;
              &:hover, &:active, &:focus {
                border-bottom: none ;
              }
            }
          }
        }
      }
    }
  }
  .top-slideshow-block {
    max-height: 800px;
    .awSlider {
      .carousel {
        .carousel-inner {
          .item {
            .item_block {
              max-height: 800px;
              .item_block-title__h1 {
                font-size: 50px ;
                margin-top: 0;
              }
              .item_block-title__h2 {
                font-size: 30px;
              }
              .top-slideshow_item-line {
              }
              a {
                font-size: 14px;
              }
            }
          }
        }
        .carousel-indicators {
          li {
            width: 16% ;
          }
          .active {
            .carousel-indicators_li__bg-active1 {
            }
          }
          .carousel-indicators_title {
            font-size: 12px;
            width: 68%;
            span {
              font-size: 21px;
            }
          }
        }
      }
    }
  }
}
}



